Repository googleapis/langchain-google-alloydb-pg-python, pull requests merged in 2024-09, with the labels that each got.

#213 chore: release 0.6.0
  src/langchain_google_alloydb_pg/indexes.py
Labels: api: alloydb

#217 chore: release 0.6.0
  samples/index_tuning_sample/README.md
Labels: api: alloydb

#210 feat: Add support for custom schema names
  src/langchain_google_alloydb_pg/chat_message_history.py
  src/langchain_google_alloydb_pg/engine.py
  src/langchain_google_alloydb_pg/loader.py
  src/langchain_google_alloydb_pg/vectorstore.py
Labels: api: alloydb

#219 fix: Fix documentation comments for library methods.
  src/langchain_google_alloydb_pg/engine.py
  src/langchain_google_alloydb_pg/loader.py
  src/langchain_google_alloydb_pg/vectorstore.py
Labels: api: alloydb

#206 chore(docs): Update DEVELOPER.md
  DEVELOPER.md
Labels: api: alloydb

#224 docs: Itemise code samples
  samples/README.md
Labels: samples, api: alloydb

#218 fix: replacing cosine_similarity and maximal_marginal_relevance methods
  pyproject.toml
  src/langchain_google_alloydb_pg/vectorstore.py
  tests/test_alloydb_vectorstore.py
Labels: api: alloydb

#223 feat!: refactor to allow support for async and sync methods
  docs/how_to_choose_an_index_guide.md
  integration.cloudbuild.yaml
  samples/index_tuning_sample/README.md
  samples/index_tuning_sample/index_search.py
  src/langchain_google_alloydb_pg/async_chat_message_history.py
  src/langchain_google_alloydb_pg/async_loader.py
  src/langchain_google_alloydb_pg/async_vectorstore.py
  src/langchain_google_alloydb_pg/chat_message_history.py
  src/langchain_google_alloydb_pg/engine.py
  src/langchain_google_alloydb_pg/loader.py
  src/langchain_google_alloydb_pg/vectorstore.py
  tests/test_alloydb_chatmessagehistory.py
  tests/test_async_chatmessagehistory.py
  tests/test_async_loader.py
  tests/test_async_vectorstore.py
  tests/test_async_vectorstore_from_methods.py
  tests/test_async_vectorstore_index.py
  tests/test_async_vectorstore_search.py
  tests/test_chatmessagehistory.py
  tests/test_engine.py
  tests/test_loader.py
  tests/test_vectorstore.py
  tests/test_vectorstore_from_methods.py
  tests/test_vectorstore_index.py
  tests/test_vectorstore_search.py
Labels: api: alloydb

#225 chore(samples): update langchain on vertexai requirement testing
  samples/langchain_on_vertexai/prebuilt_langchain_agent_template.py
  samples/langchain_on_vertexai/requirements.txt
  samples/langchain_on_vertexai/retriever_agent_with_history_template.py
  samples/langchain_on_vertexai/retriever_chain_template.py
  samples/requirements.txt
Labels: automerge, samples, api: alloydb

#222 docs: Update sample python notebooks to reflect the support for custo…
  docs/chat_message_history.ipynb
  docs/document_loader.ipynb
  docs/vector_store.ipynb
Labels: samples, api: alloydb

#191 docs: added example for chat message history with omni
  docs/chat_message_history.ipynb
  docs/vector_store.ipynb
Labels: automerge, api: alloydb

#228 feat: Made add_embeddings method public
  src/langchain_google_alloydb_pg/async_vectorstore.py
  src/langchain_google_alloydb_pg/vectorstore.py
  tests/test_async_vectorstore.py
  tests/test_vectorstore.py
Labels: api: alloydb

#226 feat: allow non-uuid data types for vectorstore primary key
  src/langchain_google_alloydb_pg/async_vectorstore.py
  src/langchain_google_alloydb_pg/engine.py
  src/langchain_google_alloydb_pg/vectorstore.py
  tests/test_async_vectorstore_from_methods.py
  tests/test_engine.py
  tests/test_vectorstore_from_methods.py
Labels: api: alloydb

#230 docs: Migration samples
  samples/migrations/vectorstore_to_alloy_db.md
Labels: samples, api: alloydb

#207 feat: Add multi-modal support vector store
  pyproject.toml
  src/langchain_google_alloydb_pg/async_vectorstore.py
  src/langchain_google_alloydb_pg/vectorstore.py
  tests/test_async_vectorstore.py
  tests/test_async_vectorstore_search.py
  tests/test_vectorstore.py
  tests/test_vectorstore_search.py
Labels: api: alloydb

#238 chore(ci): fix kokoro release secret
  .kokoro/release.sh
  .kokoro/release/common.cfg
Labels: api: alloydb

#237 feat: remove support for Python 3.8
  .github/sync-repo-settings.yaml
  DEVELOPER.md
  README.rst
  integration.cloudbuild.yaml
  pyproject.toml
  requirements.txt
Labels: api: alloydb

#247 feat: Add GCS URI support for image embedding
  pyproject.toml
  requirements.txt
  src/langchain_google_alloydb_pg/async_vectorstore.py
  tests/test_async_vectorstore.py
  tests/test_async_vectorstore_search.py
  tests/test_vectorstore.py
  tests/test_vectorstore_search.py
Labels: api: alloydb

#240 chore(docs): update migration doc filename and readme
  samples/README.md
  samples/migrations/migrate_vectorstore_to_alloydb.md
Labels: api: alloydb

#250 chore(docs): fix typo in samples readme
  samples/langchain_on_vertexai/README.md
Labels: samples, api: alloydb
